* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.options-menu {
    padding: 15px;
    position: fixed;
}

.options-menu-col {
    background-color: #f87a25;
}

@media only screen and (max-width: 750px) {
    .options-menu {
        position: relative;
    }
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.myreviews-container {
    min-height: 100vh;
}

.profile-card {
    margin: auto;
}

.container-review .card {
     min-width:80vh;
}