.container {
    margin:20px
}

.card {
    margin-top: 50px;
}

.card-header {
    background-color: #ff914a !important;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.lineCard-btn {
    margin: 10px;
    color: #fff !important;
    padding: 10px;
    transition: all .2s ease-in-out !important;
}

.lineCard-btn:hover{
    transform: scale(1.2);
}

.card-text {
    font-weight: 500;
}

.modal-title {
    color: #ff914a;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.disableBtn {
    display: none !important;
}

.showBtn {
    display: flex;
}