* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mot-menu {
    padding:15px;
    position: fixed;
}

.mot-menu-col {
    background-color: #f87a25;
}

.line-card{
    margin: 50px !important;
}

.hiddedCard {
    display: none;
}

@media only screen and (max-width: 750px) {
    .mot-menu {
        position: relative;
    }
}

.card.hiddenReviews {
    display: none !important; 
}

.linecard.card {
    background-color:#464442;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:95%;
}

.card-text.line-description {
    color:#fff;
}

.mot-menu-col.col-sm-3 {
    min-height: 100vh;
}

.review-card {
   margin: 50px !important;
   width: auto !important;
}

.container-review {
    display:flex !important;
    width:100% !important;
    align-items: center !important;
    flex-direction:column !important;
}

.container-review .card {
     min-width:80vh;
     max-width:80vh;
}