* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.mot-menu {
    padding:15px;
    position: fixed;
}

.mot-menu-col {
    background-color: #f87a25;
}

.line-card{
    margin: 10px !important;
}

@media only screen and (max-width: 750px) {
    .mot-menu {
        position: relative;
    }
}


