.card {
    padding: 20px;
}

.card-title {
    color: #ff914a;
    text-transform: uppercase;
}

.button {
    background-color: #ff914a;
    color: white;
}

.about-us-card-container {
    margin-left: 50px;
}